
.container_product{
    height: 100%;
    border: 0px solid rgb(183, 131, 131);
    display: flex;
}

.container_leftbar{
    width: 30%;
    height: 100%;
    border: 0px solid blue;
}
.container_righbar{
border: 0px solid red;
height: 100%;
width: 75%;
}

.productsgrid{
    border: 0px solid;
    margin-top: 40px;
}
.right_twobox {
   width: 100%;
   height: 300px;
   border: 0px solid;
   display: flex;
   justify-content: space-around;
  
}
.productsgrid img{
    width: 100px;
    height: 100px;
    transform: scale(1);
}
select{
    border: 0px;
    border-radius: 20px;
    outline: none;
}
.productsgrid img:hover{
    transition: 0.5s;
    transform: scale(1.03);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.right_twobox>div{
    width: 500px;
    height:300px ;
    border: 0px solid;
    overflow: hidden;
    border-radius: 20px;
}
.right_twobox div img{
    width: 100%;
    height:300px ;
    transform: scale(1);
    border-radius: 20px;
}
.right_twobox div img:hover{
    transition: 0.5s;
    transform: scale(1.2);
}
.productsgrid{
   
    display: grid;
    grid-template-columns: repeat(3,32%);
    grid-template-rows: auto;
gap: 20px;
}
.productsgrid div{
    border: 0px solid;
}
.productsgrid img{
    width: 250px;
    height: 250px;
}
#Filter_brand{
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: 19px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#Filter_brand option{
    font-size: 19px;  
    border: 0px;
}
.bannerheading {
    font-size: 30px;
    border: 0px solid red;
    
}
.mainbanner{
    border: 0px solid green;
    height: 500px;  
}
.mainbanner div{
    border: 0px solid;
    margin-top: -20%;
    color: white;
    line-height: 30px;
}
.prod_slidesection{
    border: 0px solid;
}
.headgap{
    width: 100%;
    height: 90px;
}